body {
    background: #f9f9f9;
}

.wrapper {
    width: 1060;
    margin: 0 auto;
    background: #fff;
    padding: 50px 45px 60px;
}

.logo {
    display: block;
    width: 145px;
    height: 40px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    background-color: #504f4f;
    overflow: auto;
    font-size: 0;
    margin-top: 40px;
}

.nav-menu li {  
    border-right: 1px solid #838388;
    display: inline-block;
    font-size: 15px;
}

.nav-menu a {
    color: #fff;
    height: 40px;
    padding: 0 40px;
    line-height: 40px;
    text-decoration: none;
}

.active {
    background-color: #434343;
}

.main {
    overflow: auto;
    margin-top: 40px;
}

.side-menu {
    width: 240px;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.side-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 20px;
}

.side-menu li {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    overflow: auto;
}

.border{
    border-bottom: 1px solid #000;
}

.main-content {
    width: 675px;
    float: right;
}

.main-img {
padding: 50px 0;
text-align: center;
border: 1px solid #000;
}

.main-content p {
    margin: 40px 0 0 30px;
}


.footer .nav-menu {
    background-color: #e1e1e1;
}

.footer .nav-menu li {
    border: none;
}

.footer .nav-menu a{
    color: #000;
}

.reserved-rights {
    float: right;
    line-height: 40px;
    margin-right: 20px;
}